<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Öxxö Xööx || Official Website</title>
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Öxxö Xööx is an artistic and personal project in the form of an audiovisual diary. It is the artist name of Laurent Lunoir. The contours of the project took shape in his mind in 2004, driven by a desire for global and therapeutic art. The concepts of love and sacredness are at the heart of his approach.">
    <meta property="og:image" content="assets/img/logo_small.png">

    <!-- Responsive frameworks, Icon sets, and animation libraries and-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">

    <!-- Local CSS styles -->
    <link rel="stylesheet" href="assets/css/helper-styles.css">    
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/mediaqueries.css">


</head>

<body style="background-color:rgb(0,0,0);">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand pb-0" href="#">
            <img id="navimg" src="assets/img/logo_small.png" alt="Öxxö Xööx logo" ></a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon" ></span>
            </button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav pb-5" id="navlist">
                    <li class="nav-item text-center" role="presentation"><a class="nav-link active secondaryFont" href="#Home">Home</a></li>
                    <li class="nav-item text-center" role="presentation"><a class="nav-link active secondaryFont" href="#Music">Music</a></li>
                    <li class="nav-item text-center" role="presentation"><a class="nav-link secondaryFont" href="#team">Members</a></li>
                    <li class="nav-item text-center" role="presentation"><a class="nav-link secondaryFont" href="#bio">Bio</a></li>
                    <li class="nav-item text-center" role="presentation"><a class="nav-link secondaryFont" href="#store">Store</a></li>
                    <li class="nav-item text-center" role="presentation"><a class="nav-link secondaryFont" href="#Mediasection">Media</a></li>
                    <li class="nav-item text-center" role="presentation"><a class="nav-link secondaryFont" href="#lexiconContainer">Lexicon</a></li>
                </ul>
        </div>
    </div>
    </nav>
    <div id="Home" class="text-center position-relative" >
        <div data-aos="fade" data-aos-duration="2300" data-aos-delay="1100" class="header-dark">
            <div class="container-fluid main-header-text">
                <div class="top-header-container">
                    <div class="header-cell">
                        <h1 class="display-3 primaryFont" data-aos="fade-down" data-aos-duration="800" data-aos-delay="2400">Öxxö Xööx</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right" id="SocialMediaBar">
            <div id="socialBarContainer"><a class="bclink" href="https://oxxo-xoox.bandcamp.com/" target="blank"><i class="fab fa-bandcamp"></i></a><a class="fblink" href="https://www.facebook.com/pg/OxxoXoox69" target="blank"><i class="icon ion-social-facebook"></i></a><a class="twlink"
                    href="https://twitter.com/OxxoXoox" target="blank"><i class="icon ion-social-twitter"></i></a><a class="ytlink" href="https://www.youtube.com/user/6OxxoXoox9" target="blank"><i class="icon ion-social-youtube"></i></a><a class="iglink"
                    href="https://www.instagram.com/oxxoxoox999/" target="blank"><i class="icon ion-social-instagram"></i></a></div>
        </div>
    </div>
    <section id="musicBanner" class="container-fluid">
        <div class="row  h-100">
            <div class=" col-xs-0 col-md-3"></div>
            <div class="col col-xs-12 col-lg-6 align-self-center">
                <p  class="thirdFont"><br>Each album is part of an alchemical process, seeking to come closer with each step to the Light. Sincere, honest, wild and intuitive, the approach is sometimes deliberately ingenuous in the purpose of finding the intuitive logic of childhood
                    - which is lacking in a rigid perspective and the imaginations of adults. The albums also function in pairs, with “Rëvëürt” and “Nämïdäë” encompassing and closing the first pair, and “Ÿ” now opening a new duology.<br></p>
            </div>
            <div class=" col-xs-0 col-md-3"></div>

        </div>
    </section>
    <div id="Music" class="pt-5" >
        <div class="container-fluid MusicMain pt-5" id="musicContent">
            <div class="row">
                <div class="col d-flex justify-content-center musicHeaderDiv">
                    <h2 class="headingShadow  section-heading">Music</h2>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-sm-4 col-xl-2"></div>
                <div class="col-sm-4 col-lg-4 col-xl-4 text-center" id="albumCoverBox"><img class="img-fluid" id="featuredRelease" :src="releases[selectedAlbum].imgsrc" alt="featured album"></div>
                <div class="col-md-4 col-xl-4">
                    <h4 id="albumTitle" class="primaryFont">{{releases[selectedAlbum].name}}<br></h4>
                    <p id="albumText" class="secondaryText pt-3 thirdFont pb-3" v-html="releases[selectedAlbum].description"></p>
                    <div class="text-center">
                        <a :href="releases[selectedAlbum].link" target="blank">
                            <p data-bs-hover-animate="pulse" class="secondaryFont buyButton">Buy now</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4 col-xl-2"></div>
                <div class="col-md-4 d-flex d-sm-flex justify-content-sm-center align-items-md-center" id="disco">
                    <div class="text-center mx-auto"><img class="img-fluid" data-bs-hover-animate="swing" src="assets/img/cover_rvt_small.jpg" v-on:click="selectRelease(0)" alt="Album cover of first release">
                        <p class="discoYear secondaryFont text-center">{{releases[0].year}}</p>
                    </div>
                    <div class="text-center mx-auto"><img class="img-fluid" data-bs-hover-animate="swing" src="assets/img/cover_nmd_small.jpg" v-on:click="selectRelease(1)" alt="Album cover of second release">
                        <p class="discoYear secondaryFont text-center">{{releases[1].year}}</p>
                    </div>
                    <div class="text-center mx-auto"><img class="img-fluid" data-bs-hover-animate="swing" src="assets/img/cover_y_small.jpg" v-on:click="selectRelease(2)" alt="Album cover of third release">
                        <p class="discoYear secondaryFont text-center">{{releases[2].year}}</p>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Members</h2>
                    <h3 class="section-subheading text-muted thirdFont d-none"><br>Art is magic and music is therapy for us and above all, a cure<br></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member p-5"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="assets/img/member2.jpg" alt="Female singer Laure Le Prunenec">
                        <h4>Rïcïnn&nbsp;<br></h4>
                        <h4>(Laure Le Prunenec)</h4>
                        <p class="text-muted thirdFont">Vocals</p>
                        <ul class="list-inline social-buttons">
                            <li> <a data-bs-hover-animate="bounce" href="https://www.instagram.com/oooooricinnooooo/?hl=en"><i class="fa fa-twitter fa-instagram"></i></a></li>
                            <li> <a data-bs-hover-animate="bounce" href="https://www.facebook.com/LAPAGERICINN/"><i class="fa fa-facebook"></i></a></li>
                            <li> <a data-bs-hover-animate="bounce" href="https://blood-music.bandcamp.com/album/l-an"><i class="fa fa-linkedin fa-bandcamp"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member p-5"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="assets/img/1.jpg" alt="Male singer and composer Laurent Lunoir">
                        <h4>Öxxö Xööx<br></h4>
                        <h4>(Laurent Lunoir)</h4>
                        <p class="text-muted thirdFont">Music, Lead vocals, Artwork<br></p>
                        <ul class="list-inline social-buttons">
                            <li> <a data-bs-hover-animate="bounce" href="https://twitter.com/OxxoXoox"><i class="fa fa-twitter"></i></a></li>
                            <li> <a data-bs-hover-animate="bounce" href="https://www.facebook.com/OxxoXoox69/"><i class="fa fa-facebook"></i></a></li>
                            <li> <a data-bs-hover-animate="bounce" href="https://oxxo-xoox.bandcamp.com/"><i class="fa fa-linkedin fa-bandcamp"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member p-5"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="assets/img/2.jpg" alt="Male drummer of the band">
                        <h4>Isarnos<br></h4>
                        <h4>(Thomas Jacquelin)<br></h4>
                        <p class="text-muted thirdFont">Drums</p>
                        <ul class="list-inline social-buttons">
                            <li> <a data-bs-hover-animate="bounce" href="https://www.facebook.com/thomas.jacquelin.75"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <p class="large text-muted thirdFont d-none"><br>RÏVÏ<br>To break free from all forms of limitation and alienation<br><br></p>
                </div>
            </div>
        </div>
    </section>
    <div id="bio" class="pt-5"  >
        <div id="langToggle" class="text-center">
            <p data-bs-hover-animate="pulse" v-on:click="bioLang = 0">EN</p>
            <p data-bs-hover-animate="pulse" v-on:click="bioLang = 1">FR</p>
        </div>
        <h2 id="bioHeading" class="section-heading pt-5">Biography</h2>
        <div class="row m-0">
            <div class="col-xl-11">
                <div class="bioContainer p-5">
                    <div data-aos="fade" data-aos-duration="1750" data-aos-delay="650" class="photo-card float-right m-5">
                        <div class="photo-background" style="background-image: url(&quot;assets/img/6.jpg&quot;);"></div>
                        <div class="photo-details">
                            <h1 style="font-family: var(--pri-font);">{{bioText[bioLang].bioHeadLanguage}}</h1>
                            <p style="font-family: var(--sec-font);font-size: 14px;padding-bottom: 10px;">{{bioText[bioLang].bio2}}<br></p>
                        </div>
                    </div><p style="visibility:hidden;">c<br /></p>
    <p class="mt-5">{{bioText[bioLang].bio1}}<br /></p></div>
            </div>
        </div>
        <div class="col">
            <p class="bioSection2">{{bioText[bioLang].bio3}}<br></p>
        </div>
        <div class="col-xl-12">
            <div class="bioContainer pd-5">
                <div data-aos="fade" data-aos-duration="1800" data-aos-delay="700" class="photo-card float-left">
                    <div class="photo-details">
                        <h1 style="font-family: var(--pri-font);">{{bioText[bioLang].bioHeadMusic}}</h1>
                        <p class="pb-5" style="font-family: var(--sec-font);font-size: 14px;">{{bioText[bioLang].bio4}}<br></p>
                    </div>
                    <div class="photo-background" style="background-image: url(&quot;assets/img/64749350_2242754742426388_3266847714129739776_o.jpg&quot;);"></div>
                </div><p style="visibility:hidden;">c<br /></p>
<br />

<p>{{bioText[bioLang].bio5}}
<br /><br
    /><br /></p>
                <div class="col-xl-8 offset-xl-4">
                    <p class="d-none"><br>We try to dramatize our inner truths, and our true personalities, through a tribal, telluric and spiritual visual that's come from our imagination, another reality where there is no limit. To try to recreate the link between the
                        earth and true reality, to break all the walls above our heads, which encloses, limits us and prevents us from raising ourselves.<br><br></p>
                </div>
            </div>
        </div>
        <div class="col-xl-9 offset-xl-3 pb-5 pt-3 d-none">
            <p class="bioSection2 mt-5">Öxxö Xööx remains a constantly evolving project, and does not exclude having other members in the future, as well as new collaborations with other artists sharing his vision.<br>Öxxö Xööx thus tries to dramatize his true personality, to deliver
                himself in the most honest way possible. He imagines and explores a tribal, telluric and spiritual universe; another reality where there are no limits.<br><br></p>
        </div>
    </div>
    <div id="store" class="pt-5" style="background-image: url(&quot;assets/img/store_bgm.png&quot;);background-color: rgb(54,54,54);background-attachment: fixed;"><div class="shopping-grid">
    <div class="container">
        <h2 class="section-heading  text-center" >Store</h2>
        <div class="row pt-5 pb-5">
            <div class="d-sm-none d-md-flex col-md-2 check-out-store_cont">


            </div>
            <div class="col col-sm-4 col-md-3">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="https://oxxo-xoox.bandcamp.com/merch/logo-unisex-t-shirt" target="blank">
                            <img class="pic-1" src="assets/img/s1-1.jpg" alt="Shirt with Öxxö Xööx logo on it">
                            <img class="pic-2" src="assets/img/s1-2.jpg" alt="Shirt with Öxxö Xööx logo on it">
                        </a>

                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="https://oxxo-xoox.bandcamp.com/merch/logo-unisex-t-shirt" target="blank">Ÿ Logo unisex T-shirt</a></h3>


                    </div>
                </div>
            </div>
            <div class="col col-sm-4 col-md-3">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="https://oxxo-xoox.bandcamp.com/merch/n-m-d-logo-unisex-t-shirt" target="blank">
                            <img class="pic-1" src="assets/img/s2-1.jpg" alt="Shirt with Öxxö Xööx logo on it">
                            <img class="pic-2" src="assets/img/s2-2.jpg" alt="Shirt with Öxxö Xööx logo on it">
                        </a>

                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="https://oxxo-xoox.bandcamp.com/merch/n-m-d-logo-unisex-t-shirt">Nämïdäë Logo unisex T-shirt</a></h3>


                    </div>
                </div>
            </div>
            <div class="col col-sm-4 col-md-3 ">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="https://oxxo-xoox.bandcamp.com/merch/r-v-rt-logo-unisex-t-shirt" target="blank">
                            <img class="pic-1" src="assets/img/s3-01.jpg" alt="Shirt with Öxxö Xööx logo on it">
                            <img class="pic-2" src="assets/img/s3-02.jpg" alt="Shirt with Öxxö Xööx logo on it">
                        </a>

                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="https://oxxo-xoox.bandcamp.com/merch/r-v-rt-logo-unisex-t-shirt" target="blank">Rëvëürt Logo unisex T-shirt</a></h3>


                    </div>
                </div>
            </div>

            <div class="d-sm-none d-md-flex col-md-1 col-sm-6 check-out-store_cont">
            </div>
        </div>
    </div>
</div></div>
    <div id="MediaMain" class="pb-5">
        <div class="col">
            <h2 id="Mediasection" class="section-heading">Media</h2>
        </div>
        <div class="row MediaButtons d-none d-lg-flex"><div class=" d-xs-none d-md-flex col-md-3"></div>
            <div class="col col-md-6 text-center">
                <p class="d-sm-inline-block mediaButton thirdFont mr-5" v-on:click="MediaSection=0">Images</p>
                <p class="d-sm-inline-block mediaButton thirdFont ml-5" v-on:click="MediaSection=1">Video</p>
            </div><div class=" d-xs-none d-md-flex col-md-3"></div></div>
        <div id="Media" v-show="MediaSection==0">
            <div class="shadow-none accordian" id="accordianSlide">
                <ul>
                    <li><a href="assets/img/s2.jpg" data-lightbox="slides"><img src="assets/img/s2.jpg" alt="Both singers screaming"></a></li>
                    <li><a href="assets/img/gallery_001.jpg" data-lightbox="slides"><img src="assets/img/gallery_001.jpg" alt="Male singer laying in grass"></a></li>
                    <li><a href="assets/img/gallery_002.jpg" data-lightbox="slides"><img src="assets/img/gallery_002.jpg" alt="Male singer standing in the woods"></a></li>
                    <li><a href="assets/img/s3.jpg" data-lightbox="slides"><img src="assets/img/s3.jpg" alt="Three band members running along the sand"></a></li>
                    <li><a href="assets/img/landscape.jpg" data-lightbox="slides"><img src="assets/img/landscape.jpg" alt="Laurent Lunoir crouching near sculpture"></a></li>

                </ul>
            </div>
        </div>
        <div id="Media-1" v-show="MediaSection==1">
            <div class="container">
                <div class="row"><div class=" d-sm-none d-md-flex col-md-2"></div>
                    <div class="col col-xs-12 col-md-8">
                        <div class="carousel slide" data-ride="carousel" id="carousel-1">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="video-container"><iframe allowfullscreen=""  src="https://www.youtube.com/embed/iKFOuu2UsR0?loop=1&amp;playlist=iKFOuu2UsR0" width="853" height="480"></iframe></div>
                                </div>
                                <div class="carousel-item">
                                    <div class="video-container"><iframe allowfullscreen="" src="https://www.youtube.com/embed/T2ySpBbHuPM?loop=1&amp;playlist=T2ySpBbHuPM" width="853" height="480"></iframe></div>
                                </div>
                                <div class="carousel-item">
                                    <div class="video-container"><iframe allowfullscreen=""  src="https://www.youtube.com/embed/aLzWT_xJbfQ?loop=1&amp;playlist=aLzWT_xJbfQ" width="853" height="480"></iframe></div>
                                </div>
                            </div>
                            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1"
                                    role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                <li data-target="#carousel-1" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div><div class=" d-sm-none d-md-flex col-md-2"></div></div>
            </div>
        </div>
    </div>
    <section id="lexiconContainer" class="pb-5">


        <div class="container-fluid pt-5">
            <div class="row justify-content-center py-5">
                <div >
                    <h2 class="section-heading primaryFont">Lexicon</h2>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-0 col-md-2"></div>
                <div class="alphaLettersContainer text-center col-12 col-md-10 col-lg-8">
                    <p data-bs-hover-animate="pulse" class="d-inline-block alphaLetters" v-for="(alp, i) in alpha" v-on:click="currentLetter = i">{{alpha[i]}}</p>
                </div>
                <div class="col-0 col-md-2"></div>
            </div>
        </div>

            <div  id="lexiconMain"  class="container-fluid">

                <div class="row lexiconRow text-left " v-for="(lexicon, i) in lexiconWords[currentLetter]">
                    <div class="col-0 col-lg-2"></div>
                    <div class=" lexiconWordContainer col-4 col-lg-2">
                        <p class="secondaryFont">{{lexiconWords[currentLetter][i].word}}</p>
                    </div>
                    <div class=" lexiconWordContainer col-8 col-lg-6">
                        <p class="thirdFont">{{lexiconWords[currentLetter][i].definition}}</p>
                    </div>
                    <div class="col-0 col-lg-2"></div>
                </div>

            </div>




    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Related Projects</h3>
                        <ul>
                            <li><a href="https://igorrr.com/" class="thirdFont">Igorrr<br></a></li>
                            <li><a href="https://blood-music.bandcamp.com/album/l-an" class="thirdFont">Rïcïnn<br></a></li>
                            <li><a href="https://www.facebook.com/WHOURKR" class="thirdFont">WHOURKR<br></a></li>
                            <li><a href="https://www.facebook.com/pages/category/Musician-Band/-Liturgy-Of-Decay--14462492436/" class="thirdFont">Liturgy of Decay<br><br></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#Music" class="thirdFont">Music</a></li>
                            <li><a href="#bio" class="thirdFont">Bio</a></li>
                            <li><a href="#Mediasection" class="thirdFont">Media</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text text-center">
                        <p class="thirdFont pt-1 text-left">
                            This project is like a battle, a rage which aims to free the imprisoned life, inside of the embodied being. It is spiritual music that wants to elevate the soul to the original light, in a unique way, wild and free. 
                        </p>
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/pg/OxxoXoox69"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/oxxoxoox?lang=en"><i class="icon ion-social-twitter"></i></a><a class="bclink" href="https://oxxo-xoox.bandcamp.com/"
                            target="blank"><i class="fab fa-bandcamp"></i></a><a href="https://www.instagram.com/oxxoxoox999/"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright thirdFont"><br>Öxxö Xööx&nbsp;© 2020</p>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Paralax-Box.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
    <script src="assets/js/slider-hover.js"></script>
    <script src="assets/js/Swipe-Slider-9.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>